body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

#title{
    text-align: left;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

/* Headings */

.big-heading{
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15% 7%;

}

/* Sections */

.colored-section{
    background-color: #ff4c68;
    color: white;
}

.white-section{
    background-color: #fff;
}

/* Navbar*/

.navbar{
    padding-bottom: 4.5rem;
    padding-left: 0;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
}

.nav-item{
    padding: 0 18px 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title image */

.title-image{
    position: absolute;
    transform: rotate(25deg);
    width: 21%;
    right: 30%; 
}

/* Features section */

#features{
    padding: 7% 15%;
    position: relative;
}

.slicice{
    width: 15%;
    margin-bottom: 14px;
}

.features-title{ 
    font-size: 1.5rem;
}

.features-title:hover{
    color:#ff4c68;
    transition: 1.2s;
}

.features-col>p{
    width: 250px;
    margin: 0 auto;
    font-family: "Montserrat";
    color: #aaa;
}

.features-col>p:hover{
    color:#000;
    transition: 1.2s;
}

/* Testimonials section */

#testimonials{
    background-color: #ef8172;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin:20px 20px 50px;
}

/* Pricing */

#pricing{
    padding: 100px;
}

.pricing-text{
    font-size:3rem;
    line-height: 1.5;
}

.pricing-column{
    padding: 3% 2%;
}

#pricing>p{
    color: #aaa;
    font-family: "Montserrat";
}

.cta-heading{
    font-size:3.5rem;
    line-height: 1.5;
    padding:100px 250px 70px;
}

.btn-cta{
    margin:0 15px 100px;
}

#footer{
    height: 300px;

}


.pad-div{
    padding: 150px 10px 0;
}

#footer>div>i{
    padding: 0px 10px 25px;;
}

#footer>p{
    font-family: "Ubuntu", sans-serif;
    color:rgb(88, 86, 86);
}

@media (max-width: 1260px){
    
    #title{
        text-align: center;
    }

    .title-image{
        transform: rotate(0);
        position: static;
        width: 60%;
    }
}